<!DOCTYPE html>
<html>
<head>
    <title>K-Image Compressor - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Compression Results</h1>
        <a href="{{ url_for('serve_compressed_image', filename=compressed_img_filename) }}" download>Download Compressed Image</a>
        {% for plot_filename in plot_filenames %}
            <div class="plot-container">
                <img src="{{ url_for('serve_plot', compression_folder=compressed_img_filename, filename=plot_filename) }}" alt="Plot" class="custom-image">
            </div>
        {% endfor %}
        <div style="margin-top: 20px;">
            <a href="/" class="go-back-button">Go Back</a>
        </div>
    </div>
</body>
</html>
