<!DOCTYPE html>
<html>
<head>
    <title>K-Image Compressor - Results</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Compression Results</h1>
        <!-- Actualiza el href para usar compressed_img_filename -->
        <a href="{{ url_for('serve_compressed_image', filename=compressed_img_filename) }}" download>Download Compressed Image</a>
        {% for plot_filename in plot_filenames %}
            <div class="plot-container">
                <img src="{{ url_for('serve_plot', filename=plot_filename, compression_folder=compressed_img_filename) }}" alt="Plot" class="custom-image">
            </div>
        {% endfor %}
    </div>
</body>
</html>
