<!DOCTYPE html>
<html>
<head>
    <title>K-Image Compressor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>K-Image Compressor</h1>
        <div style="margin-top: 20px;">
            <p class="image-description">Compression clustering to 16 colors:</p>
            <img src="{{ url_for('static_file', filename='banner.png') }}" alt="Example Image" class="custom-image">
        </div>
        <form id="uploadForm" action="/" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept="image/png"><br>
            <input type="submit" value="Compress with K-Means!">
        </form>
        <p class="image-description">Max. Resolution: 1Mpx (1000x1000 px)</p>
        <p class="image-description">Depending on the image resolution and concurrent users, compressions may take a while to perform.</p>
        <br>     
        <form id="uploadForm" action="/load_sample" method="get">
            <button type="submit">Load Random Sample Compression</button>
        </form>
    </div>
</body>
</html>
